.custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .custom-list-item {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
  }

.custom-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #ddd;
  }
}